<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

</head>

<body class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="w-full max-w-md bg-white rounded-2x1 shadow-lg p-8" x-data="formcadastro()">
        <h1 class="text-2xl font-bold text-center mb-6">Atendimento</h1>

        <form class="space-y-4" hx-post="{% url 'enviar_mensagem'%}" method="POST">{%csrf_token%}
            <div>
                <label class="block text-sm font-medium text-gray-700">Nome</label>
                <input name="nome" type="text" x-model="form.nome"
                    class="mt-1 p-1 w-full rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-indigo-500"
                    placeholder="Seu nome" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">Email</label>
                <input name="email" type="email" x-model="form.email"
                    class="mt-01 p-1 w-full rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-indigo-500"
                    placeholder="Ex: seu@email.com">
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">Mensagem</label>

                <textarea name="mensagem" rows="5" class="mt-1 w-full min-h-[120px] p-1
               rounded-lg border-gray-300
               focus:border-indigo-500 focus:ring-indigo-500
               resize-y overflow-auto
               leading-normal" placeholder="Ex: preciso de suporte com cadastros">
                </textarea>
            </div>
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition">Enviar</button>
        </form>
    </div>

</body>

</html>